aiofiles
annotated-doc
annotated-types
anyio
cachetools
certifi
charset-normalizer
click
colorama
distro
dnspython
docx2pdf
et_xmlfile
fastapi
google-api-core
google-auth
google-cloud-documentai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
idna
jiter
joblib
langdetect
lxml
motor
numpy
openai
openpyxl
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pymongo
PyPDF2
python-docx
python-dotenv
python-multipart
python-pptx
reportlab
requests
rsa
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
xlsxwriter

gunicorn